<h1>Stupid Coaching</h1>
<div class="question-css">
<p><%= "#{@question_asked} \n" %></p>
<p><%= "\n -You \n" %></p>
</div>
<div class="answer-css">
<p><%= "#{@answer} \n" %></p>
<p><%= "-Your coach \n" %></p>
</div>
<p>Link to ask view</p>
<%= link_to "ask a new question", "http://localhost:3000/ask" %>
